.navLink{
    color: black;
    font-weight: bold;
}
.navLink:hover{
    color: #F91944;
    border-bottom: 1px solid #F91944;
}
.active{
    color: #F91944;
    border-bottom: 1px solid #F91944;
}
.items:hover{
    border-radius: 20px;
    box-shadow: 10px 10px 20px lightgray;
}
